.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-left .Home{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #fff;
    text-decoration: none;
}
.navbar-left .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
.navbar-left .nav-links li {
    margin-right: 1rem;
}
  
.navbar-left .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: lighter;
}