.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .link {
    color: white;
    
    text-decoration: none;
  }
  
  .headerItem {
    cursor: pointer;
    font-size: larger;
  }
  
  .headerItem:hover {
    color: #aaa;
  }
  